<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="matchMapper">
  <resultMap type="Match" id="matchingResultSet">
	<id property = "mId" column="MID"/>
	<result property="teamNo" column="TEAM_NO"/>
	<result property="userNo" column="USER_NO"/>
	<result property="userName" column="USER_NAME"/>
	<result property="mTitle" column="M_TITLE"/>
	<result property="mContent" column="M_CONTENTS"/>
	<result property="mSystem" column="M_SYSTEM"/>
	<result property="dues" column="DUES"/>
	<result property="mLocationName" column="LOCATION"/>
	<result property="mLocationX" column="LOCATIONX"/>
	<result property="mLocationY" column="LOCATIONY"/>
	<result property="mDay" column="M_DAY"/>
	<result property="sHour" column="START_HOUR"/>
	<result property="sMinute" column="START_MINUTE"/>
	<result property="eHour" column="END_HOUR"/>
	<result property="eMinute" column="END_MINUTE"/>
	<result property="mtId" column="MTID"/>
	<result property="createDate" column="CREATE_DATE"/>
	<result property="mStatus" column="M_STATUS"/>
	<result property="teamName" column="TEAM_NAME"/>
	<result property="teamImg" column="TEAM_IMAGE"/>
  </resultMap>
  
  <resultMap type="AppMatch" id="appMatchingResultSet">
	<id property = "amId" column="AMID"/>
	<result property="teamNo" column="TEAM_NO"/>
	<result property="userNo" column="USER_NO"/>
	<result property="userName" column="USER_NAME"/>
	<result property="mId" column="MID"/>
	<result property="appDate" column="APP_DATE"/>
	<result property="amStatus" column="AM_STATUS"/>
	<result property="teamName" column="TEAM_NAME"/>
	<result property="teamImg" column="TEAM_IMAGE"/>
  </resultMap>
  
  <resultMap type="SmsInfo" id="smsInfoResultSet">
	<result property="tGrade" column="T_GRADE"/>
	<!-- <result property="phone" column="PHONE"/> -->
	<result property="phone" column="POSITION"/>
	<result property="userName" column="USER_NAME"/>
  </resultMap>
  
  
  <resultMap type="ScoreInfo" id="scoreInfoResultSet">
	<id property="msId" column="MSID"/>
	<result property="tId" column="TEAM_NO"/>
	<result property="score" column="SCORE"/>
	<result property="otId" column="OPP_TEAM_NO"/>
	<result property="result" column="RESULT"/>
  </resultMap>
  
  
  <!-- 매치생성 -->
  <insert id="insertMatching" parameterType="Match">
  	INSERT INTO MATCHING
  	VALUES(SEQ_MID.NEXTVAL, #{teamNo}, #{userNo}, #{mTitle}, #{mContent}, #{mSystem}, #{dues}, #{mDay}, #{sHour}, #{sMinute}
  			, #{eHour}, #{eMinute}, #{mLocationName}, #{mLocationX}, #{mLocationY}, DEFAULT, SYSDATE, 'Y')
  
  </insert>
  
  
  
  <!-- 모든 리스트 받아오기 -->
  <select id="selectAllList" resultMap="matchingResultSet">
  	SELECT *
 	FROM MATCHING MA
    JOIN TEAM T ON(T.TEAM_NO = MA.TEAM_NO)
    JOIN MEMBER M ON(M.USER_NO = MA.USER_NO)
 	WHERE M_STATUS='Y' OR M_STATUS = 'ING'
  	ORDER BY CREATE_DATE DESC
  </select>
 
 
 
 <!-- 매치선택 -->
 <select id="selectMatch" resultMap="matchingResultSet">
 	SELECT *
 	FROM MATCHING MA
    JOIN TEAM T ON(T.TEAM_NO = MA.TEAM_NO)
    JOIN MEMBER M ON(M.USER_NO = MA.USER_NO)
 	WHERE (M_STATUS='Y' OR M_STATUS = 'ING') AND MID=#{mId}
 </select>
 
 
 
 <!-- 매치신청 받아오기 -->
 <select id="selectAppMatch" resultMap="appMatchingResultSet">
 	SELECT *
 	FROM APP_MATCHING AM
 	JOIN TEAM T ON(T.TEAM_NO = AM.TEAM_NO)
 	JOIN MEMBER M ON(AM.USER_NO = M.USER_NO)
 	WHERE AM_STATUS='Y' AND MID=#{mId}
 </select>
 
 
 
 <!-- 매치신청하기 -->
 <insert id="insertAppMatching" parameterType="hashmap">
 	INSERT INTO APP_MATCHING
 	VALUES(SEQ_AMID.NEXTVAL, #{tId}, #{userNo}, #{mId}, SYSDATE, 'Y')
 </insert>
 
 
 
 
 <!-- 필터 적용한 매치 리스트 받아오기 -->
 <select id="selectNewList" resultMap="matchingResultSet">
 	SELECT *
 	FROM MATCHING MA
    JOIN TEAM T ON(T.TEAM_NO = MA.TEAM_NO)
    JOIN MEMBER M ON(M.USER_NO = MA.USER_NO)
 	WHERE (M_STATUS = 'Y' OR M_STATUS = 'ING')
 	<if test="eDate != null and sDate != null">
 	AND (M_DAY &lt;= #{eDate} AND M_DAY &gt;= #{sDate})
 	</if>
 	<if test="mSystem != ''">
 	AND M_SYSTEM = #{mSystem}
 	</if>
 	<if test="mon != '' or tue != '' or wed != '' or thu != ''
 				  or fri != '' or sat != '' or sun != ''">
 		AND(M_STATUS = 'N'
	 	<if test="mon != ''">
	 	OR TO_CHAR(M_DAY, 'D')=2
	 	</if>
	 	<if test="tue != ''">
	 	OR TO_CHAR(M_DAY, 'D')=3
	 	</if>
	 	<if test="wed != ''">
	 	OR TO_CHAR(M_DAY, 'D')=4
	 	</if>
	 	<if test="thu != ''">
	 	OR TO_CHAR(M_DAY, 'D')=5
	 	</if>
	 	<if test="fri != ''">
	 	OR TO_CHAR(M_DAY, 'D')=6
	 	</if>
	 	<if test="sat != ''">
	 	OR TO_CHAR(M_DAY, 'D')=7
	 	</if>
	 	<if test="sun != ''">
	 	OR TO_CHAR(M_DAY, 'D')=1
	 	</if>
	 	)
 	</if>
 	<if test="time1 != '' or time2 != '' or time3 != ''
 				  or time4 != '' or time5 != '' or time6 != ''">
 		AND(M_STATUS = 'N'
	 	<if test="time1 != ''">
	 	OR (TO_NUMBER(START_HOUR) &gt;= 0 AND TO_NUMBER(END_HOUR) &lt;= 4)
	 	</if>
	 	<if test="time2 != ''">
	 	OR (TO_NUMBER(START_HOUR) &gt;= 4 AND TO_NUMBER(END_HOUR) &lt;= 8)
	 	</if>
	 	<if test="time3 != ''">
	 	OR (TO_NUMBER(START_HOUR) &gt;= 8 AND TO_NUMBER(END_HOUR) &lt;= 12)
	 	</if>
	 	<if test="time4 != ''">
	 	OR (TO_NUMBER(START_HOUR) &gt;= 12 AND TO_NUMBER(END_HOUR) &lt;= 16)
	 	</if>
	 	<if test="time5 != ''">
	 	OR (TO_NUMBER(START_HOUR) &gt;= 16 AND TO_NUMBER(END_HOUR) &lt;= 20)
	 	</if>
	 	<if test="time6 != ''">
	 	OR (TO_NUMBER(START_HOUR) &gt;= 20 AND TO_NUMBER(END_HOUR) &lt;= 24)
	 	</if>
 		)
 	</if>
 	ORDER BY CREATE_DATE DESC
 </select>
 
 <select id="selectAppMatching" parameterType="hashmap" resultType="_int">
 	SELECT COUNT(*)
 	FROM APP_MATCHING
 	WHERE TEAM_NO = #{tId} AND MID = #{mId}
 </select>
 
 <delete id="cancleAppMatch" parameterType="hashmap">
 	DELETE FROM APP_MATCHING
 	WHERE TEAM_NO = #{tId} AND MID = #{mId}

 </delete>
 
 <update id="updateMatch">
 	UPDATE MATCHING
 	SET M_TITLE=#{mTitle}, M_CONTENTS=#{mContent}, M_SYSTEM=#{mSystem}, DUES=#{dues}, M_DAY=#{mDay}, START_HOUR=#{sHour}, START_MINUTE=#{sMinute}, 
 		END_HOUR=#{eHour}, END_MINUTE=#{eMinute}, LOCATION=#{mLocationName}, LOCATIONX=#{mLocationX}, LOCATIONY=#{mLocationY}
 	WHERE MID=#{mId}
 </update>
 
 
 <update id="deleteMatch">
 	UPDATE MATCHING
 	SET M_STATUS='N'
 	WHERE MID=#{mId}
 </update>
 
   <select id="selectMyList" parameterType="_int" resultMap="matchingResultSet">
  	SELECT *
 	FROM MATCHING MA
    JOIN TEAM T ON(T.TEAM_NO = MA.TEAM_NO)
    JOIN MEMBER M ON(M.USER_NO = MA.USER_NO)
 	WHERE (M_STATUS='Y' OR M_STATUS = 'ING') AND T.TEAM_NO = #{tId}
 	ORDER BY CREATE_DATE DESC
  </select>
 
 <select id="selectCheckTeam" parameterType="_int" resultType="_int">
 	SELECT COUNT(*)
 	FROM MATCHING
 	WHERE TEAM_NO=#{tId} AND (M_STATUS='Y' OR M_STATUS='ING')
 </select>

	<update id="confirmMatch" parameterType="hashmap">
		UPDATE MATCHING
 		SET M_STATUS='ING',MTID=#{mtId}
 		WHERE MID=#{mId}
	</update>

	<select id="selectSmsInfo" resultMap="smsInfoResultSet">
		SELECT *
		FROM MEMBER M
		JOIN MATCHING MA ON(M.USER_NO=MA.USER_NO)
		WHERE TEAM_NO=#{teamNo}
	</select>

 	<insert id="insertScore">
		INSERT INTO MATCHING_SCORE
		VALUES(SEQ_MSID.NEXTVAL,#{tId},#{score},#{otId},#{result},SYSDATE)
	</insert>
	
	<update id = "endMatch">
		UPDATE MATCHING
	 	SET M_STATUS='E'
	 	WHERE MID=#{mId}
	</update>
	
	<select id="selectTeamScore" resultMap="scoreInfoResultSet">
		SELECT *
		FROM MATCHING_SCORE
		WHERE TEAM_NO = #{tId}
	</select>
	
</mapper>
