<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

  <resultMap type="Member" id="memberResultSet">
  		<id property="userNo" column="USER_NO"/>
		<result property="userId" column="USER_ID"/>
		<result property="userPwd" column="USER_PWD"/>
		<result property="userName" column="USER_NAME"/>
		<result property="userEmail" column="USER_EMAIL"/>
		<result property="birthDay" column="BIRTHDAY"/>
		<result property="gender" column="GENDER"/>
		<result property="phone" column="PHONE"/>
		<result property="position" column="POSITION"/>
		<result property="address" column="ADDRESS"/>
		<result property="status" column="STATUS"/>
		<result property="aCount" column="A_COUNT"/>
		<result property="joinDate" column="JOINDATE"/>
		<!-- 변수명 디비값 -->
  </resultMap>
  
  
  <select id="loginMember" parameterType="Member" resultMap="memberResultSet">
	  SELECT * 
	  FROM MEMBER
	  WHERE USER_ID=#{userId}
	  AND USER_PWD=#{userPwd}
	  AND STATUS='Y'
  </select>
  
  
  <insert id="insertMember" parameterType="Member">
  	INSERT INTO MEMBER
  	VALUES(SEQ_UID.NEXTVAL, #{userId}, #{userEmail}, #{userPwd}, #{userName}, #{birthDay}, #{gender}, #{address},#{profile}, #{position}, #{phone}, DEFAULT, DEFAULT, SYSDATE)
  </insert>
  
  <select id="idCheck" parameterType="string" resultType="_int">
		select count(*)
		from member
		where USER_ID=#{id}
  </select>
  
  <!-- 안효찬꺼 -->
  <select id="selectAllMember" resultMap="memberResultSet">
  	SELECT * FROM
  	MEMBER
  	WHERE STATUS = 'Y'
  </select>
  
  <!-- 안효찬꺼 -->
  <select id="drawMember" resultMap="memberResultSet">
  	SELECT * FROM
  	MEMBER
  	WHERE STATUS='Y' AND USER_NO=#{userNo}
  </select>
</mapper>
