<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="teamMapper">
<!-- 팀 불러올떄 팀 ResultMap ( 콜렉션 제외 ) / Team 모집글과 Join도 한다.-->
  <resultMap type="Team" id="teamResultSet">
  	<id property="teamNo" column="TEAM_NO"/>
  	<result property="userNo" column="USER_NO"/>
  	<result property="userName" column="NAME"/>
  	<result property="userId" column="USER_ID"/>
  	<result property="teamName" column="TEAM_NAME"/>
  	<result property="teamImage" column="TEAM_IMAGE"/>
  	<result property="teamAdver" column="TEAM_ADVER"/>
  	<result property="resisterDay" column="RESISTERDAY"/>
  	<result property="ad_status" column="AD_STATUS"/>
  	<result property="teamArea" column="TEAM_AREA"/>
  	<result property="teamIntro" column="TEAM_INTRO"/>
  	
  	<!-- <collection property="teamMember" javaType="java.util.ArrayList" resultMap="TeamMemberResultSet"/> -->
  	<!-- <collection property="t_Joined_Member" javaType="java.util.ArrayList" resultMap="JoinedResultSet"/> -->
  </resultMap>
  
  <!-- 콜렉션용 팀에 속한 멤버 -->
  <resultMap type="TeamMember" id="TeamMemberResultSet">
  	<id property="userNo" column="USER_NO"/>
  	<result property="teamNo" column="TEAM_NO"/>
  	<result property="t_Grade" column="T_GRADE"/>
  </resultMap>
  
  <!-- 콜렉션용 팀에 신청한 유저 / 팀이 초대한 유저 ResultMap -->
  <resultMap type="TeamJoinedMember" id="JoinedResultSet">
  	<id property="userNo" column="USER_NO"/>
  	<result property="teamNo" column="TEAM_NO"/>
  	<result property="reg_Date" column="FROMINVITE"/>
  	<result property="fromInvite" column="FROMINVITE"/>
  	<result property="reg_Status" column="REG_STATUS"/>
  </resultMap>
  
  <!-- TEAM 모집 광고글 -->
  <resultMap type="TeamAD" id="ADResultSet">
  	<id property="userNo" column="USER_NO"/>
  	<result property="teamNo" column="TEAM_NO"/>
  	<result property="teamAdver" column="TEAM_ADVER"/>
  	<result property="resisterDay" column="RESISTERDAY"/>
  	<result property="ad_status" column="AD_STATUS"/>
  </resultMap>
  
  <select id="getListCount" resultType="_int">
  	SELECT COUNT(*)
  	FROM TEAM_AD
  	WHERE AD_STATUS='Y'
  </select>
  
  <select id="selectList" resultMap="teamResultSet">
  	<!-- SELECT *
  	FROM TEAM T
  	JOIN TEAM_AD TA ON(T.TEAM_NO = TA.TEAM_NO)
  	LEFT JOIN T_JOINED_MEMBER TJM ON(T.TEAM_NO = TJM.TEAM_NO)
  	JOIN T_MEMBER TM ON(TJM.TEAM_NO = TM.TEAM_NO)
  	ORDER BY RESISTERDAY DESC -->
  	SELECT T.TEAM_NO,T.USER_NO,M.NAME,M.USER_ID,T.TEAM_NAME,T.TEAM_IMAGE,TA.TEAM_ADVER,
  		   TA.RESISTERDAY,TA.AD_STATUS,T.TEAM_AREA,T.TEAM_INTRO
  	FROM TEAM T
    JOIN MEMBER M ON (T.USER_NO = M.USER_NO)
    JOIN TEAM_AD TA ON(T.TEAM_NO = TA.TEAM_NO)
  	ORDER BY RESISTERDAY DESC
  </select>
  
  
  

  

</mapper>
